<ion-header>
  <p>UrantiaBook v.1</p>
</ion-header>
<ion-content>
  <p class="verPartes" (click)="toggleGroup('partess')">Open Book</p>
  <div class="partes" *ngIf="isGroupShown('partess')">
    <div class="parte">
      <p class="titulo">
        Parts
      </p>
    </div>
    <div [navPush]="paginaPapers" class="parte" *ngFor="let part of libro.parts | jsonPiper" attr.data-start="{{part.value.pstart}}" attr.data-end="{{part.value.pend}}">
      <p class="titulo">
        {{part.value.title}}
      </p>
      <p class="autor">
        {{part.value.authors}}
      </p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <p>UrantiaBook v.1</p>
</ion-footer>